    <mat-toolbar class="navbar">
        <div class="menu_icon">
        <div style="text-align: left;  padding:1;">
        <img src="assets/Images/book.png" width="60" height="50">
        <span style="color:#fff; font-size: 30px;">e-Library</span>
        <br>
        <div>
            &nbsp;
        <small>
        <span style="color:#fff; font-family: cursive;">Powered by capgemini</span>
        <img src="assets/Images/Capgemini-logo.png" width="30" height="20">
        </small>
        </div>
        </div>
        </div>
        <div class="demo-section">
            <!-- <mat-icon>notifications_none</mat-icon> -->
            <mat-icon matBadge="5" matBadgeColor="warn">notifications</mat-icon>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-icon>account_circle</mat-icon>
        </div>
    </mat-toolbar>