<div class="side-nav-content">
    <ul class="nav-list">
        <li class="nav-list-item">
            <mat-icon style="color: white;">important_devices</mat-icon>
            &nbsp;&nbsp;
        <span>
            <a href="#">Dashboard</a>
        </span>
        </li>
        <li class="nav-list-item">
            <mat-icon style="color: white;">zoom_in</mat-icon>
            &nbsp;&nbsp;
            <span>
                <a href="#">Surf e-books</a>
            </span>
            </li>
            <li class="nav-list-item">
                <mat-icon style="color: white;">hourglass_empty</mat-icon>
                &nbsp;&nbsp;
                <span>
                    <a href="#">Take Quiz</a>
                </span>
                </li>
    </ul>
</div>